# Extension ignores
*.log
*.db
*.db-shm
*.db-wal
*.pyc

# Directory (contents) ignores
config/.cloud
config/.storage
config/deps

# Specific file ignores
config/.config_entries.json
config/.homekit.state
config/.ios.conf
config/.spotify-token-cache
config/harmony_media_center.conf
config/ip_bans.yaml
config/known_devices.yaml
config/options.xml
config/OZW_Log.txt
config/pyozw.sqlite
config/secrets.yaml
config/zwcfg_*
config/zwscene.xml

# Some other generic stuff
.vscode
.DS_Store

# Specific keeps
!.gitkeep